<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.w3.org/1999/xhtml">
<head>
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/materialize/0.100.2/css/materialize.min.css" />
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/font-awesome/4.7.0/css/font-awesome.min.css" />
    <title>Tweets</title>
</head>
<body>

<nav class="light-blue lighten-1" role="navigation">
    <div class="nav-wrapper container"><a id="logo-container" href="#" class="brand-logo">ADESQ Tweet List</a>
    </div>
</nav>
<div class="section no-pad-bot" id="index-banner">
    <tr th:each="oneTweet : ${tweets}">
        <img th:src="${oneTweet.getProfileImageUrl()}" />
        <h5 th:text="${oneTweet.getFromUser()}"></h5><br/>
        <p th:text="${oneTweet.getText()}"></p><br/>
        <hr/>
    </tr>
</div>
</body>
<!-- Compiled and minified JavaScript -->
<script src="https://cdnjs.cloudflare.com/ajax/libs/materialize/0.100.2/js/materialize.min.js"></script>
</html>
